<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HungryBells.activity"
    android:versionCode="22"
    android:versionName="1.0.5.1">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <permission
        android:name="com.HungryBells.activity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.HungryBells.activity.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.HungryBells.activity.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />


    <application
        android:name="com.HungryBells.activity.GlobalAppState"
        android:allowBackup="true"
        android:icon="@drawable/hblogos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.HungryBells.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HungryBells.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name="com.HungryBells.activity.ViewDealsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.HungryBells.activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.HungryBells.activity.SearchCityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HungryBells.activity.PaymentFailedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.HungryBells.activity.PaymentReturnActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.HungryBells.activity.FavorateRestaurentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.CusinePreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.NotificationPreferenceSwitch"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.FoodPreferenceSwitch"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.LoggingInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.SignupActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name="com.HungryBells.activity.ZoomImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.ViewCouponActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.DealsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.HungryBells.activity.OrderSummaryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.FeedBackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.MyOrdersActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.ViewAdsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.HungryBells.activity.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.HungryBells.activity" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.HungryBells.activity" />
            </intent-filter>
        </receiver>
        <service android:name="com.HungryBells.activity.GCMReceiver" />

        <activity
            android:name="com.HungryBells.activity.UserSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.HungryBells.activity.AccountManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.TermsConditionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HungryBells.activity.SocialAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.HungryBells.activity.service.AuthenticationService"
            android:exported="false"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.HungryBells.activity.service.LocationIntentService"
            android:exported="false"></service>

    </application>

</manifest>